/* 서브 헤더 */
.subheader-custom {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

/* 문구 생성 버튼 */
.center-button-container {
  display: flex;
  justify-content: center;
}
.center-button {
  width: 66%;
  height: 50px;
  background-color: #39e789;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
.center-button:hover {
  background-color: #33c978;
  color: #ffffff;
  /* border: 1px solid #33c978; */
  border: none;
}

/* input 라벨 숨김 */
div[data-testid="stTextInput"] label {
  display: none;
}
div[data-testid="stFileUploader"] label {
  display: none;
}
div[data-testid="stRadio"] > label {
  display: none; /
}
