/* 라디오 버튼 */
.custom-radio {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.custom-radio label {
  display: inline-block;
  border: 1px solid #33c978;
  border-radius: 50px;
  padding: 6px 20px;
  margin: 6px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  text-align: center;
}
.custom-radio label:hover {
  background-color: #e6f9ef;
}
.custom-radio input[type="radio"] {
  display: none;
}
.custom-radio input[type="radio"]:checked + label {
  background-color: #39e789;
  color: #ffffff;
}

/* 서브 헤더 */
.subheader-custom {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

/* 문구 생성 버튼 */
.center-button-container {
  display: flex;
  justify-content: center;
}
.center-button {
  width: 66%;
  height: 50px;
  background-color: #39e789;
  color: #ffffff;
  /* border: 1px solid #33c978; 어두운 초록 테두리 */
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
.center-button:hover {
  background-color: #33c978;
  color: #ffffff;
  /* border: 1px solid #33c978; */
  border: none;
}
